---
import Image from "astro/components/Image.astro";
import blob3Icon from "../../assets/blob-3.svg";
import blob3NegIcon from "../../assets/blob-3-neg.svg";
import blob3NegAlucardsIcon from "../../assets/blob-3-neg-alucards.svg";

interface Props {
  class?: string;
  image: string;
  negBlobColor?: "alucards";
}

const { class: className, negBlobColor, image } = Astro.props;
---

<div
  class={`relative w-[300px] h-[450px] xl:w-[600px] xl:h-[900px] shrink-0 top-20 ${className}`}
>
  <Image
    src={blob3Icon}
    class="absolute inset-x-0 bottom-0 z-10 w-full"
    alt=""
  />
  <Image
    src={negBlobColor === 'alucards' ? blob3NegAlucardsIcon : blob3NegIcon}
    class="absolute inset-x-0 bottom-0 z-30 w-full"
    alt=""
  />

  <img
    id="parallax-screenshot"
    src={image}
    class="absolute inset-x-0 bottom-1 z-20 mx-auto w-2/3 rounded-4xl"
    alt="App screenshot"
    data-speed="-2"
  />
</div>

<script>
  import { animate, scroll, inView } from 'motion';

  const parallaxScreenshot = document.getElementById('parallax-screenshot');

  if (parallaxScreenshot) {
    const isXlScreen = () => window.innerWidth >= 1280;

    inView(parallaxScreenshot, () => {
      const speed = parseFloat(
        parallaxScreenshot.getAttribute('data-speed') ?? '0'
      );

      scroll(
        animate(
          parallaxScreenshot,
          isXlScreen() ? { y: [200, 0, -250] } : { y: [0, 50 * speed] }
        ),
        {}
      );

      return () => {};
    });
  }
</script>
