@import "tailwindcss";

@theme {
  --navbar-width: 44px;
  --navbar-width-xl: 100px;

  --color-blinking-blue: #0030FF;
  --color-hello-summer: #5DBDF9;
  --color-ice-cold-stare: #B2D2FB;
  --color-sasquatch-socks: #FF4B7E;
  --color-benzol-green: #00DC64;
  --color-granny-smith-apple: #9FE38E;
  --color-alucards-night: #030454;

  --text-10xl: 10rem;
  --text-10xl--line-height: 0.8;
  --text-11xl: 12rem;
  --text-11xl--line-height: 0.8;
  --text-superxl: 18rem;
  --text-superxl--line-height: 0.8;

  --font-round8: 'Round8', 'sans-serif';
  --font-nudica: 'Nudica', 'sans-serif';

  --container-navbar: var(--navbar-width);
  --container-navbar-xl: var(--navbar-width-xl);
  --container-content: 1200px;

  --spacing-navbar: var(--navbar-width);
  --spacing-navbar-xl: var(--navbar-width-xl);
}

@utility center {
  @apply justify-center items-center;
}

@layer components {
  .section {
    @apply flex flex-col items-center z-10 max-w-content;
  }

  .headline {
    @apply text-2xl font-nudica mt-10 px-4 xl:text-center xl:text-3xl;
  }

  .subtitle {
    @apply text-xl xl:text-3xl font-nudica;
  }

  .separator {
    @apply h-px mt-10 w-screen xl:mt-24;
    margin-left: calc(var(--container-navbar) * -1);
  }

  .title {
    @apply text-white uppercase font-round8;

    font-size: 30vw;
    line-height: var(--text-10xl--line-height);
    word-spacing: 100vw;

    @media screen(xl) {
      font-size: var(--text-superxl);
      word-spacing: unset;
    }
  }
}

body {
  background-color: var(--color-alucards-night);
  color: white;
}

a {
  text-decoration: underline;
  font-weight: bold;
}
