---
import ContactButton from '../components/ContactButton.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import NavigationBar from '../components/NavigationBar.astro';
import OurCraft from '../components/OurCraft.astro';
import Projects from '../components/Projects.astro';
import Toast from '../components/Toast.astro';
import WorkingTogether from '../components/WorkingTogether.astro';
import YourVision from '../components/YourVision.astro';
import Layout from '../layouts/Layout.astro';
import TrustedBy from '../components/TrustedBy.astro';
---

<Layout>
  <Toast />
  <NavigationBar />

  <ContactForm />

  <main class="ml-navbar xl:ml-navbar-xl pb-16">
    <div class="bg-alucards-night flex flex-col items-center">

      <Hero />
      <TrustedBy />
      <WorkingTogether />
      <Projects />
      <YourVision />
      <OurCraft />
    </div>

    <div class="bg-alucards-night flex flex-col items-center">
      <section id="contact" class="section bg-alucards-night pt-20 xl:pt-52">
        <h1 class="text-hello-summer font-round8 text-10xl text-center uppercase xl:text-start">
          Let's talk
        </h1>

        <p class="headline text-granny-smith-apple text-center text-xl xl:w-1/2 xl:text-4xl">
          Contact us, let’s do something amazing, together.
        </p>

        <div>
          <ContactButton class="ml-0!" />
        </div>

        <Footer />
      </section>
    </div>
  </main>
</Layout>
