---
const { class: className, ...rest } = Astro.props;
---

<button
  class={`bg-white text-blinking-blue font-nudica text-sm xl:text-lg px-10 py-2 rounded-full mt-6 self-start xl:self-center ml-6 xl:ml-0 xl:mt-10 hover:bg-blinking-blue hover:text-white cursor-pointer transition ${className}`}
  {...rest}
>
  Contact us
</button>
