---
import antropiaLogo from '../assets/logo.svg';
import antropiaLogoDark from '../assets/logo-neg.svg';
import Social from './Social.astro';

interface Props {
  isDark?: boolean;
  includeRss?: boolean;
}

const { isDark, includeRss } = Astro.props;
---

<footer class="mt-8 flex flex-col items-center gap-6">
  <p
    class={`mx-4 xl:mx-0 text-center text-sm ${isDark ? 'text-alucards-night/60' : 'text-white/60'}`}>
    We collect aggregate and anonymous analytics.
    <br />
    For the sake of transparency, you can see the dashboard
    <a href="https://antropiastudio.pirsch.io"
       class={`underline ${isDark ? 'text-alucards-night' : 'text-white'}`}>here</a
    >.

    {includeRss &&
      <>
        <br />
        We also publish our thoughts via
        <a href="/blog/rss.xml"
           class={`underline ${isDark ? 'text-alucards-night' : 'text-white'}`}>RSS</a>.
      </>}
  </p>

  <Social isDark={isDark} />

  <div class="flex flex-col items-center gap-2 xl:flex-row xl:gap-4">
    <img src={isDark ? antropiaLogoDark.src : antropiaLogo.src} width="100" alt="Antropia Homepage" />
    <span class={`text-xs xl:text-sm ${isDark ? 'text-alucards-night' : 'text-white'}`}>@2026 Antropia Studio</span>
  </div>
</footer>
