---
import ContactButton from "./ContactButton.astro";
---
<section id="home" class="section px-6 pt-16 xl:items-start xl:pt-32">
  <h1 id="title" class="title">
    Apps that
    <span class="text-benzol-green italic xl:ml-[355px]">matter</span>
  </h1>

  <p class="font-nudica font-light mt-6 text-xl xl:w-3/5 xl:text-5xl">
    We are the prototyping studio turning your ideas into real apps.
    <span class="underline-bold">Materialize, iterate and validate in weeks, not years.</span>
  </p>

  <ContactButton class="ml-0! self-start!" />
</section>
