---
import MuppyBento from "./MuppyBento.astro";
import TrufarioBento from "./TrufarioBento.astro";
---

<section id="projects" class="mt-16 flex flex-col items-center bg-ash/80 px-6 xl:mt-32 w-full py-16 xl:py-40">
  <div class="flex flex-col center mb-16 xl:mb-40">
    <h1 class="font-round8 text-center text-sasquatch-socks italic xl:text-start xl:text-12xl text-[28vw] leading-none">
      Projects
    </h1>

    <p class="subtitle text-white -mt-4 px-6 text-center xl:text-start xl:px-0 xl:-mt-10">
      A quick tour over what we’ve been working on recently
    </p>
  </div>

  <MuppyBento />
  <div class="h-px w-full bg-antropia-white/10 my-20 xl:mt-20 xl:mb-36" />
  <TrufarioBento />
</section>

