---
const { class: className, title, ...rest } = Astro.props;
---

<p
  class={`text-4xl xl:text-6xl font-round8 tracking-wide ${className}`}
  {...rest}
>
  {title}
</p>
<p class="text-sm xl:text-xl">
  <slot />
</p>
