---
---

<div id="toast" class="fixed top-10 left-0 right-0 flex justify-center z-50"
     style="opacity: 0; transform: translateY(-120px);">
  <div class="bg-blinking-blue px-10 py-5 rounded-sm">Message received! We'll get back to you 🙌</div>
</div>

<script>
  import { animate } from 'motion';

  declare global {
    interface Window {
      showToast: () => void;
    }
  }

  const toast = document.getElementById('toast')!;

  function showToast() {
    toast.classList.remove('pointer-events-none');

    animate(
      toast,
      { opacity: 1, y: ['-50px', '0px'] },
      { type: 'spring', duration: 0.5, bounce: 0.2 },
    );

    setTimeout(() => hideToast(), 3000);
  }

  function hideToast() {
    animate(
      toast,
      { opacity: 0, y: ['0px', '-50px'] },
      { type: 'spring', duration: 0.5, bounce: 0.2 },
    ).finished.then(() => {
      toast.classList.add('pointer-events-none');
    });
  }

  window.showToast = showToast;
</script>
