---
import antropiaLogo from '../assets/logo.svg';
---

<div id="container">
  <nav class="fixed flex bg-blinking-blue w-[100px] h-full rounded-tl-xl justify-center items-start">
    <a href="/" class="mt-10 cursor-pointer">
      <img src={antropiaLogo.src} width="40" height="200" alt="Antropia Homepage" />
    </a>
  </nav>
  <main>
    <section id="chapter-1" class="flex flex-col bg-alucards-night pt-32 px-32">
      <h1 class="text-white uppercase font-round8 text-superxl text-center">Apps that<br><span
        class="text-benzol-green italic ml-[465px]">matter</span>
      </h1>

      <p class="text-4xl font-nudica w-3/5 ml-24">We are the rapid prototyping studio that turns <span
        class="text-benzol-green">"what if"</span>
        into
        <span class="text-benzol-green">"what's next"</span> —
        crafting human experiences at pace that get your idea in front of real users</p>

      <button
        class="bg-white text-blinking-blue font-nudica text-xl px-10 py-2 self-start rounded-full mt-10 ml-24 hover:bg-blinking-blue hover:text-white cursor-pointer transition">
        Contact
        us
      </button>
    </section>

    <section id="chapter-2" class="flex flex-col bg-alucards-night pt-64 px-32">
      <h1 class="text-white uppercase font-round8 text-10xl ml-20">Working<br><span
        class="text-sasquatch-socks italic ml-[130px]">together</span>
      </h1>

      <p class="text-3xl font-nudica w-1/2 text-ice-cold-stare ml-[220px] mt-10">This is what you can expect from our
        collaboration</p>

      <div class="h-px bg-sasquatch-socks mt-32" />

      <div class="flex flex-row gap-10 px-10 py-20">
        <div class="flex flex-col">
          <p class="text-6xl font-round8 text-sasquatch-socks">1. Talk</p>
          <p>Let's meet, chat about your idea, and explore how we can bring it to life, together. No pitch decks needed
            -
            just a honest conversation</p>
        </div>
        <div class="flex flex-col">
          <p class="text-6xl font-round8 text-sasquatch-socks">2. Hands on</p>
          <p>Let's meet, chat about your idea, and explore how we can bring it to life, together. No pitch decks needed
            -
            just a honest conversation</p>
        </div>
        <div class="flex flex-col">
          <p class="text-6xl font-round8 text-sasquatch-socks">3. Takeoff</p>
          <p>Let's meet, chat about your idea, and explore how we can bring it to life, together. No pitch decks needed
            -
            just a honest conversation</p>
        </div>
      </div>

      <div class="h-px bg-sasquatch-socks mt-32" />
    </section>
  </main>
</div>
