---
import antropiaLogo from '../assets/logo.svg';
---

<div id="container">
  <nav class="fixed flex bg-blinking-blue w-[100px] h-full rounded-tl-xl justify-center items-start">
    <a href="/" class="mt-10 cursor-pointer">
      <img src={antropiaLogo.src} width="40" height="200" alt="Antropia Homepage" />
    </a>
  </nav>
  <main>
    <section id="chapter-1" class="flex flex-col h-screen bg-alucards-night pt-32">
      <h1 class="text-white uppercase font-round8 text-superxl text-center">Apps that<br><span
        class="text-benzol-green italic ml-[500px]">matter</span>
      </h1>
    </section>
  </main>
</div>
