---
import Layout from '../../layouts/Layout.astro';
import NavigationBar from '../../components/NavigationBar.astro';
import sawWorkIcon from '../../assets/saw-work.svg';
import Footer from '../../components/Footer.astro';
import ContactButton from '../../components/ContactButton.astro';
import ContactForm from '../../components/ContactForm.astro';
import ScreensAccordion from '../../components/case-studies/ScreensAccordion.astro';
---

<Layout
  title="Do It Myself by Antropia"
  description="Track your DIY projects with detailed manuals, progress logs, and media organization."
  image="/images/do-it-myself/social.png"
  class="text-alucards-night! bg-biscuit-cream!"
>
  <NavigationBar />
  <ContactForm />

  <main class="ml-navbar xl:ml-navbar-xl bg-biscuit-cream overflow-hidden">
    <section
      class="max-w-content mx-auto flex flex-col items-center px-6 py-20 xl:py-40"
    >
      <h1
        class="xl:text-11xl font-nudica text-center text-[17vw] leading-none font-bold uppercase"
      >
        Do It Myself
      </h1>

      <p class="mt-8 text-center text-3xl xl:w-3/5">
        The project tracking app designed for anyone who wants to document and
        organize their DIY endeavors.
        <br />
        <br />
        Whether you're assembling furniture, building something from scratch, or
        working on home improvements, Do It Myself helps you maintain clear documentation
        of your process.
      </p>

      <a
        class="text-alucards-night font-nudica hover:text-blinking-blue mt-6 text-center text-2xl decoration-2"
        href="/blog/80-hour-app"
      >
        Read more about how we built the app in our blog
      </a>

      <ScreensAccordion
        images={[
          '/images/do-it-myself/do-it-myself-03.png',
          '/images/do-it-myself/do-it-myself-02.png',
          '/images/do-it-myself/do-it-myself-01.png',
          '/images/do-it-myself/do-it-myself-04.png',
          '/images/do-it-myself/do-it-myself-05.png',
        ]}
      />
    </section>

    <section class="bg-sasquatch-socks center relative flex">
      <div class="center max-w-content flex flex-row gap-10 px-6 pt-20">
        <div class="hidden w-px self-stretch bg-white xl:block"></div>

        <div
          class="center flex flex-col gap-10 pb-20 text-white xl:flex-row xl:gap-32"
        >
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2">
              <h3 class="text-3xl">Project Organization</h3>
              <p class="text-xl opacity-80">
                Create and manage multiple projects, each with its own set of
                tools and documentation. Keep all your DIY activities organized
                in one place.
              </p>
            </div>

            <div class="flex flex-col gap-2">
              <h3 class="text-3xl">Custom Manuals</h3>
              <p class="text-xl opacity-80">
                Write step-by-step instructions for your projects. Ideal for
                documenting assembly processes, recording measurements, or
                creating personal building guides.
              </p>
            </div>

            <div class="flex flex-col gap-2">
              <h3 class="text-3xl">Media Management</h3>
              <p class="text-xl opacity-80">
                Store and organize photos and videos related to your projects.
                Document important details, capture assembly steps, or save
                reference images. Essential for remembering specific
                arrangements, like screw placements or part orientations.
              </p>
            </div>
          </div>

          <img src={sawWorkIcon.src} alt="" />
        </div>
      </div>
    </section>

    <section class="bg-alucards-night pt-20 pb-20 xl:pt-52">
      <div class="center max-w-content mx-auto flex flex-col">
        <h1
          class="text-hello-summer font-round8 text-10xl text-center uppercase xl:text-start"
        >
          Let's talk
        </h1>

        <p
          class="headline text-granny-smith-apple text-center text-lg xl:w-1/2 xl:text-4xl"
        >
          Contact us, let’s do something amazing, together.
        </p>

        <div>
          <ContactButton class="ml-0!" />
        </div>

        <Footer />
      </div>
    </section>
  </main>
</Layout>
