---
import Image from "astro/components/Image.astro";
import countingMoneyIcon from "../../assets/counting-money.svg";
import ContactButton from "../../components/ContactButton.astro";
import ContactForm from "../../components/ContactForm.astro";
import HighlightedScreen from "../../components/case-studies/HighlightedScreen.astro";
import ScreensAccordion from "../../components/case-studies/ScreensAccordion.astro";
import Footer from "../../components/Footer.astro";
import NavigationBar from "../../components/NavigationBar.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Muppy"
  description="Unlock access to hand-picked real estate investment opportunities with high returns and full 360º management."
  image="/images/muppy/social.png"
  class="text-white!"
>
  <NavigationBar />
  <ContactForm />

  <main
    class="ml-navbar xl:ml-navbar-xl bg-alucards-night overflow-hidden text-balance"
  >
    <section
      class="max-w-content mx-auto flex flex-col items-center px-6 py-20 xl:py-40"
    >
      <h1
        class="xl:text-11xl font-nudica text-center text-[17vw] leading-none font-bold uppercase"
      >
        Muppy
      </h1>

      <p class="mt-8 text-center text-3xl xl:w-3/5">
        Muppy Investors is the gateway to exclusive real estate opportunities in
        Spain's major metropolitan areas.
      </p>

      <ScreensAccordion
        images={[
          '/images/muppy/screen-03.png',
          '/images/muppy/screen-02.png',
          '/images/muppy/screen-06.png',
          '/images/muppy/screen-04.png',
          '/images/muppy/screen-05.png',
        ]}
      />
    </section>

    <section class="bg-hello-summer center relative flex">
      <div class="center max-w-content flex flex-row gap-10 px-6 pt-20">
        <div class="bg-alucards-night hidden w-px self-stretch xl:block"></div>

        <div
          class="center text-alucards-night flex flex-col gap-10 pb-20 xl:flex-row xl:gap-32"
        >
          <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-2">
              <h3 class="text-3xl font-bold">The Challenge</h3>
              <p class="text-xl">
                Muppy needed to expand beyond their web platform. As their
                coliving concept grew across Spanish cities, they required a
                native app to reach mobile users and open a new business channel
                that embodied their "home away from home" philosophy.
              </p>
            </div>

            <div class="flex flex-col gap-2">
              <h3 class="text-3xl font-bold">Development</h3>
              <p class="text-xl">
                Partnership over just coding. We created a workflow prioritizing
                continuous collaboration with design and backend teams. Through
                transparent communication and rapid iterations, we transformed
                feedback into features quickly, allowing Muppy to validate their
                mobile strategy with real data.
              </p>
            </div>

            <div class="flex flex-col gap-2">
              <h3 class="text-3xl font-bold">Building independence</h3>
              <p class="text-xl">
                Alongside development, we conducted React Native workshops for
                Muppy's team. These targeted training sessions ensured they
                could independently maintain and evolve the app after
                launch, delivering not just a product, but the capability to own
                their digital future.
              </p>
            </div>
          </div>

          <Image src={countingMoneyIcon} alt="" />
        </div>
      </div>
    </section>

    <section class="center flex py-20 xl:py-40">
      <div
        class="center max-w-content flex flex-col gap-20 px-6 xl:w-4/5 xl:flex-row"
      >
        <HighlightedScreen
          image="/images/muppy/demo.webp"
          negBlobColor="alucards"
        />

        <div class="flex flex-col gap-4">
          <h3 class="text-5xl font-bold">Perfect Match</h3>
          <p class="text-xl xl:text-3xl">
            <span class="text-benzol-green">Muppy</span>'s need for rapid mobile
            expansion aligned perfectly with
            <span class="text-sasquatch-socks">Antropia</span>'s sweet spot:
            kickstarting critical projects with speed while building foundations
            that support future growth, exactly what a thriving coliving platform
            required to evolve their digital presence.
          </p>
        </div>
      </div>
    </section>

    <section class="bg-ice-cold-stare pt-20 pb-20 xl:pt-52">
      <div
        class="center max-w-content text-alucards-night mx-auto flex flex-col"
      >
        <h1 class="font-round8 text-10xl text-center uppercase xl:text-start">
          Let's talk
        </h1>

        <p class="headline text-center text-lg xl:w-1/2 xl:text-4xl">
          Contact us, let’s do something amazing, together.
        </p>

        <div>
          <ContactButton class="bg-alucards-night! ml-0! text-white!" />
        </div>

        <Footer isDark />
      </div>
    </section>
  </main>
</Layout>
