---
import Layout from '../../layouts/Layout.astro';
import NavigationBar from '../../components/NavigationBar.astro';
import Footer from '../../components/Footer.astro';
import countingSheepIcon from '../../assets/counting-sheep.svg';
import antropiaLogo from '../../assets/logo.svg';
import downloadAppStore from '../../assets/download-app-store-black.svg';
import downloadPlayStore from '../../assets/download-play-store.svg';
import ContactButton from '../../components/ContactButton.astro';
import ContactForm from '../../components/ContactForm.astro';
import ScreensAccordion from '../../components/case-studies/ScreensAccordion.astro';
import HighlightedScreen from '../../components/case-studies/HighlightedScreen.astro';
---

<Layout
  title="Trufario by Antropia"
  description="Trufario is your essential companion app for recording every moment with your dog"
  image="/images/trufario/social.png"
  class="text-alucards-night!"
>
  <NavigationBar />
  <ContactForm />

  <main class="ml-navbar xl:ml-navbar-xl bg-hello-summer overflow-hidden">
    <section
      class="max-w-content mx-auto flex flex-col items-center px-6 py-20 xl:py-40"
    >
      <h1
        class="xl:text-11xl font-nudica text-center text-[17vw] leading-none font-bold uppercase"
      >
        Trufario
      </h1>

      <p class="mt-8 text-center text-3xl xl:w-3/5">
        Your essential companion app for recording every moment with your dog.
        From walks and playtime to vet visits, it keeps a detailed track of
        their health and behavior.
      </p>

      <a
        class="text-alucards-night font-nudica hover:text-blinking-blue mt-6 text-center text-2xl decoration-2"
        href="/blog/40-hour-app"
      >
        Read more about how we built the app in our blog
      </a>

      <ScreensAccordion
        images={[
          '/images/trufario/trufario-03.png',
          '/images/trufario/trufario-02.png',
          '/images/trufario/trufario-01.png',
          '/images/trufario/trufario-04.png',
          '/images/trufario/trufario-05.png',
        ]}
      />
    </section>

    <section class="bg-alucards-night center relative flex">
      <div class="center max-w-content flex flex-row gap-10 px-6 pt-20">
        <div class="bg-hello-summer hidden w-px self-stretch xl:block"></div>

        <div class="center flex flex-col gap-10 pb-20 xl:flex-row xl:gap-32">
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2">
              <h3 class="text-3xl text-white">Journal</h3>
              <p class="text-hello-summer text-xl">
                Keep a detailed log of the most relevant events in your dog's
                life. Vet visits, reactive events, walks and games.
              </p>
            </div>

            <div class="flex flex-col gap-2">
              <h3 class="text-3xl text-white">Analysis</h3>
              <p class="text-hello-summer text-xl">
                Discover patterns or correlations among the events you have
                recorded. This will help you understand how certain events
                influence your dog's behavior and well-being.
              </p>
            </div>

            <div class="flex flex-col gap-2">
              <h3 class="text-3xl text-white">Sharing</h3>
              <p class="text-hello-summer text-xl">
                Discuss your history with your veterinarian or trainer. This
                way, they can provide personalized guidance considering your
                dog's habits.
              </p>
            </div>
          </div>

          <img src={countingSheepIcon.src} alt="" />
        </div>
      </div>
    </section>

    <section class="center flex py-20 xl:py-40">
      <div
        class="center max-w-content flex flex-col gap-20 px-6 xl:w-4/5 xl:flex-row"
      >
        <HighlightedScreen image="/images/trufario/trufario-02.png" />

        <div class="flex flex-col gap-4">
          <h3 class="text-5xl font-bold">Built for you</h3>
          <p class="text-xl xl:text-3xl">
            Trufario is yours entirely. Your data is only yours and your time is
            only yours. No annoying subscriptions, notifications or privacy
            policies, pay once and enjoy forever.
          </p>

          <div class="center flex flex-row">
            <a href="https://apps.apple.com/app/trufario/id6473553839">
              <img
                src={downloadAppStore.src}
                width="150"
                alt="Download on the App Store"
              />
            </a>
            <a
              href="https://play.google.com/store/apps/details?id=com.trufario.app"
            >
              <img
                src={downloadPlayStore.src}
                width="190"
                alt="Download on the Play Store"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-alucards-night pt-20 pb-20 xl:pt-52">
      <div class="center max-w-content mx-auto flex flex-col">
        <h1
          class="text-hello-summer font-round8 text-10xl text-center uppercase xl:text-start"
        >
          Let's talk
        </h1>

        <p
          class="headline text-granny-smith-apple text-center text-lg xl:w-1/2 xl:text-4xl"
        >
          Contact us, let’s do something amazing, together.
        </p>

        <div>
          <ContactButton class="ml-0!" />
        </div>

        <Footer />
      </div>
    </section>
  </main>
</Layout>
