---
const today = new Date();
---

<footer class="mt-32 flex flex-col items-center gap-6 pb-8">
  <p class="text-antropia-white/50 text-center text-base">
    We collect aggregate and anonymous analytics.<br />For the sake of
    transparency, you can see the dashboard
    <a
      href="https://antropiastudio.pirsch.io"
      class="text-hello-summer/80 font-bold underline">here</a
    >.
  </p>

  <p class="text-antropia-white/50 text-xs xl:text-sm">
    @{today.getFullYear()} Antropia Studio. All rights reserved.
  </p>
</footer>
