---
import logo from '../../assets/blog.logo.svg';
---

<header>
  <nav class="px-8 py-4 md:mb-10">
    <div
      class="flex flex-row items-center justify-center gap-6 md:justify-between"
    >
      <div class="flex flex-row items-center gap-2">
        <a href="/" class="hidden md:flex">
          <img src={logo.src} width="48" height="48" alt="logo" />
        </a>
      </div>

      <h1
        class="font-nudica flex-1 text-center text-2xl font-black uppercase md:mr-20 md:text-4xl"
      >
        <a class="text-antropia-white hover:text-sasquatch-socks " href="/blog">The Antropia Blog</a>
      </h1>
    </div>
  </nav>
</header>
